strategy:
  matrix:
    Linux:
      imageName: 'ubuntu-latest'
    Windows:
      imageName: 'windows-latest'
pool:
  vmImage: $(imageName)
steps:
- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    verbosityRestore: 'Minimal'
- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    arguments: '-c release'
- task: AzureCLI@2
  displayName: 'Test'
  inputs:
    azureSubscription: 'Microsoft Azure Sponsorship(6c9e2629-3964-4b24-bc32-97dafc8c90f3)'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: 'dotnet test -v n -c release -l trx'
- task: DotNetCoreCLI@2
  displayName: 'Package'
  inputs:
    command: 'pack'
    packagesToPack: 'src/Farmer'
    configuration: Release
    versioningScheme: 'off'
    verbosityPack: 'Minimal'
- task: PublishBuildArtifacts@1
  displayName: Store NuGet Package
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'FarmerPackage-$(imageName)'
    publishLocation: 'Container'