name: gh-pages

on:
  push:
    branches: [master]
    paths:
    - 'docs/**'

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v2
        with:
          ref: master # Pull the master branch
          submodules: true # Fetch Hugo themes as well (they're in sub-modules)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.68.3"

        # Builds using hugo; outputs to ./public by default, but ./ is ./docs here,
        # because of the working-directory setting, so the output will be in ./docs/public
        # this is then used for `publish_dir` in the Deploy step below
      - name: Build
        working-directory: ./docs
        run: hugo --minify

      - name: Deploy # Pushes output of the build to the GH Pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          commit_message: ${{ github.event.head_commit.message }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/public
